<!DOCTYPE html>
<html lang="pt_BR" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Scaffold | Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
    <nav th:fragment="nav">
        <ul>
            <li>
                <a href="#">Source</a>
            </li>
        </ul>
    </nav>
</body>
</html>