<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Plunar | Account</title>
    <div th:replace="~{/fragments/main :: head}"></div>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{/fragments/main :: navbar}"></nav>
    <div class="container pb-5">
        <header class="rounded-bottom container mb-3"></header>
        <main>
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header text-center fw-bolder">
                            New User
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <form th:object="${accountDTO}" class="row g-2 col-lg-5" method="POST" th:action="@{'/account' + ${id != null ? '/' + id : ''}}">
                                    <div class="mb-3 col-6 form-floating">
                                        <input th:field="*{firstName}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="First Name">
                                        <label for="firstName">First Name</label>
                                        <div class="invalid-feedback" th:errors="*{firstName}"></div>
                                    </div>
                                    <div class="mb-3 col-6 form-floating">
                                        <input th:field="*{lastName}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Last Name">
                                        <label for="lastName">Last Name</label>
                                        <div class="invalid-feedback" th:errors="*{lastName}"></div>
                                    </div>
                                    <div class="mb-3 col-12 form-floating">
                                        <input th:field="*{email}" th:errorclass="is-invalid" type="email" class="form-control" placeholder="example@example.com">
                                        <label for="email" class="form-label">E-mail</label>
                                        <div class="invalid-feedback" th:errors="*{email}"></div>
                                    </div>
                                    <div class="mb-3 col-6 form-floating">
                                        <input th:field="*{phoneNumber}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="(xx) xxxxx-xxxx">
                                        <label for="phoneNumber">Phone</label>
                                        <div class="invalid-feedback" th:errors="*{phoneNumber}"></div>
                                    </div>
                                    <div class="mb-3 col-6 form-floating">
                                        <input th:field="*{zipCode}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="xxxxx-xxx">
                                        <label for="zipCode">Zip Code</label>
                                        <div class="invalid-feedback" th:errors="*{zipCode}"></div>
                                    </div>
                                    <div class="mb-3 col-12 form-floating">
                                        <textarea th:field="*{description}" th:errorclass="is-invalid" type="text" class="form-control" placeholder="Description"></textarea>
                                        <label for="description">Description</label>
                                        <div class="invalid-feedback" th:errors="*{description}"></div>
                                    </div>
                                    <div class="mb-3 col-4 form-floating">
                                        <input th:field="*{username}" th:errorclass="is-invalid" type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
                                        <label for="username">Username</label>
                                        <div class="invalid-feedback" th:errors="*{username}"></div>
                                    </div>
                                    <div th:if="${newAccount}" class="mb-3 col-4 form-floating">
                                        <input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control" placeholder="Password">
                                        <label for="password">Password</label>
                                        <div class="invalid-feedback" th:errors="*{password}"></div>
                                    </div>
                                    <div class="mb-3 col-4 form-floating">
                                        <select th:field="*{group}" name="group" class="form-select" id="inlineFormCustomSelect">
                                            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                                        </select>
                                        <label for="group">Group</label>
                                        <div class="invalid-feedback" th:errors="*{group}"></div>
                                    </div>
                                    <div class="mb-3 col-4 form-floating">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" th:field="*{isEnable}" th:checked="${isEnable}">
                                            <label class="form-check-label" for="isEnable">Enable</label>
                                        </div>
                                    </div>
                                    <div class="gutters text-end">
                                        <a type="submit" href="/dashboard" class="btn btn-secondary">Cancel</a>
                                        <button type="submit" class="btn btn-danger">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-end"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragments/main :: footer}"></footer>
    <div th:replace="~{fragments/main :: script}"></div>
</body>
</html>