<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Plunar | Index</title>
    <div th:replace="~{/fragments/main :: head}"></div>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{/fragments/main :: navbar}"></nav>
    <div class="container pb-5">
        <header class="rounded-bottom container mb-3"></header>
        <main>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card col-lg-5 shadow text-center">
                        <div class="card-header fw-bolder">
                            Members
                        </div>
                        <div class="card-body">
                            <div class="counter-box colored">
                                <i class="bi bi-people-fill"></i>
                                <p><span th:text="${counter}" class="counter fw-bold"></span> Members Registered</br>
                                    To go to the moon with us.
                                </p>
                            </div>
                            <a href="/member" class="btn btn-danger fw-bold">Register Now</a>
                        </div>
                        <div class="card-footer text-muted text-end">Last update: 2 days ago</div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragments/main :: footer}"></footer>
    <div th:replace="~{fragments/main :: script}"></div>
</body>
</html>