<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Plunar | Login</title>
    <div th:replace="~{/fragments/main :: head}"></div>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav th:replace="~{/fragments/main :: navbar}"></nav>
    <div class="container pb-5">
        <header class="rounded-bottom container mb-3"></header>
        <main>
            <div class="row">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-header text-center fw-bolder">
                            Sign in
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <form th:object="${userDTO}" method="POST" action="/login">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email Address</label>
                                        <input th:field="*{email}" th:errorclass="is-invalid" type="email" class="form-control" aria-describedby="emailHelp">
                                        <div class="invalid-feedback" th:errors="*{email}"></div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input th:field="*{password}" th:errorclass="is-invalid" type="password" class="form-control">
                                        <div id="emailHelp" class="form-text">We'll never share your password with anyone else.</div>
                                        <div class="invalid-feedback" th:errors="*{password}"></div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sign In</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer text-muted text-end"></div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer th:replace="~{fragments/main :: footer}"></footer>
    <div th:replace="~{fragments/main :: script}"></div>
</body>
</html>